[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9" # change Python version to your own.

[scripts]
flask = "flask run"
tests = "pytest -v"
repl = "python"
